<h3>Orbit Report</h3>
<table>
   <tr class="header-row">
      <th class="sortable" (click)="sort('name')">Name</th>
      <th class="sortable" (click)="sort('type')">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
   </tr>
   <!-- TODO: put <tr *ngFor=""></tr> here -->
   <tr *ngFor="let index of satellites">
     <td>{{index.name}}</td>
     <td [class.warning]="index.shouldShowWarning()">{{index.type}}</td>
     <td>{{index.operational}}</td>
     <td>{{index.orbitType}}</td>
     <td>{{index.launchDate}}</td>
   </tr>
</table>
